.menu {
    display: flex;
    justify-content: center;
    position: fixed; 
    width: 100%; 
    top: 0; 
    z-index: 2; 
}


.menu a {
    color: rgb(205,170,81);
    text-decoration: none;
    font-size: 20px;
    padding: 10px 20px; 
    margin-top: 1.5%;
    text-shadow: 3px 2px 2px rgba(153, 153, 153, 0.5);
}

.logo-container {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
}

.logo {
    margin-top: 6%;
    margin-left: 6%;
    width: 18%; 
    height: auto;
}

body {
    background-color: #121212;
    font-family: 'Bellefair', serif;
}